error_log.txt
serial_log.txt
image.img
image.iso

.cache

**/obj/
**/bin/
# don't forget to keep this up to date
kernel/deps/flanterm
kernel/deps/uACPI
kernel/deps/include
kernel/deps/src

tools/ovmf
tools/limine